body {
    margin: 5;
    background-color: blanchedalmond;
 }

 h2 {
    line-height: 5;
    background-color: beige;
    align-items: center;
 }




.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
}

.grid__header {
    background-color: lavenderblush;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid__body {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid__sidebar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid__footer {
    background-color:cadetblue;
    padding: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    list-style-type: none;
    margin: 0;
  }

  .menu > li {
    float: left;
    margin-right: 20px;
  }
   
  #booper {
    text-align: center;
  }

  #Greeting {
    -webkit-text-fill-color: blue;
  }

  #Hello {
    text-align: right;
  }